<div class="bg-white">
  <app-navbar></app-navbar>
  <div class="px-4">
    <section class="mb-5">
      <h1>Exercicios Fisicos</h1>
      <div class="mb-3">
        <p class="text-justify">
          Os exercícios físicos trazem saúde e bem-estar. Fortalecem músculos,
          aumentam energia, flexibilidade e resistência. Controlam peso, reduzem
          risco de doenças cardiovasculares e liberam endorfinas, proporcionando
          prazer. Descubra como transformar sua vida com exercícios e viva com
          vitalidade e qualidade.
        </p>
      </div>
    </section>
    <section class="mb-5">
      <h1>Materiais de Apoio</h1>
      <div class="mb-3">
        <div class="card p-1 mb-3">
          <p class="text-justify">
            Atenção, estes materiais são referências para outros sites que não
            estão sob nosso controle.
          </p>
        </div>
        <a
          class="btn btn-primary mb-3"
          href="https://pt.wikipedia.org/wiki/Exercício_físico"
          role="button"
        >
          <h4>📚 Referências ↗</h4>
        </a>
        <a
          class="btn btn-primary mb-3"
          href="https://pt.wikipedia.org/wiki/Exercício_físico"
          role="button"
        >
          <h4>🎬 Vídeo ↗</h4>
        </a>
      </div>
    </section>
  </div>
</div>
