<div class="bg-white">
  <app-navbar></app-navbar>
  <div class="px-4">
    <section class="mb-5">
      <h1>Exercicios Fisicos</h1>
      <div class="mb-3">
        <p>Os exercícios físicos trazem saúde e bem-estar. Fortalecem músculos, aumentam energia, flexibilidade e resistência.
          Controlam peso, reduzem risco de doenças cardiovasculares e liberam endorfinas, proporcionando prazer.
          Descubra como transformar sua vida com exercícios e viva com vitalidade e qualidade.
        </p>
      </div>
    </section>
  </div>
</div>
