<div class="bg-white">
  <app-navbar></app-navbar>
  <div class="px-4">
    <section class="mb-5">
      <h1>Meditação</h1>
      <div class="mb-3">
        <p>A meditação é uma prática que busca a paz interior e o equilíbrio mental.
          Com apenas alguns minutos diários, você pode experimentar uma sensação de calma e clareza.
          Além disso, a meditação tem benefícios como redução do estresse, melhora do sono e aumento da concentração.
          Descubra os poderosos benefícios da meditação e embarque nessa jornada de bem-estar.
        </p>
      </div>
    </section>
  </div>
</div>
