<div class="bg-white">
  <app-navbar></app-navbar>
  <div class="px-4">
    <section class="mb-5">
      <h1>Meditação</h1>
      <div class="mb-3">
        <p class="text-justify">
          A meditação é uma prática que busca a paz interior e o equilíbrio
          mental. Com apenas alguns minutos diários, você pode experimentar uma
          sensação de calma e clareza. Além disso, a meditação tem benefícios
          como redução do estresse, melhora do sono e aumento da concentração.
          Descubra os poderosos benefícios da meditação e embarque nessa jornada
          de bem-estar.
        </p>
      </div>
    </section>
    <section class="mb-5">
      <h1>Materiais de Apoio</h1>
      <div class="mb-3">
        <div class="card p-1 mb-3">
          <p class="text-justify">
            Atenção, estes materiais são referências para outros sites que não
            estão sob nosso controle.
          </p>
        </div>
        <a
          class="btn btn-primary mb-3"
          href="https://pt.wikipedia.org/wiki/Medita%C3%A7%C3%A3o"
          role="button"
        >
          <h4>📚 Referências ↗</h4>
        </a>
        <a
          class="btn btn-primary mb-3"
          href="https://pt.wikipedia.org/wiki/Medita%C3%A7%C3%A3o"
          role="button"
        >
          <h4>🎬 Vídeo ↗</h4>
        </a>
      </div>
    </section>
  </div>
</div>
