<div class="bg-white">
  <app-navbar></app-navbar>
  <div class="px-4">
    <section class="mb-5">
      <h1>Sono</h1>
      <div class="mb-3">
        <p class="text-justify">
          O sono é essencial para o bem-estar e a saúde. Durante o sono, ocorrem
          processos de regeneração celular e consolidação da memória. Uma boa
          noite de sono traz benefícios como melhoria do humor, concentração e
          energia. Descubra os segredos do sono para uma vida saudável e de
          qualidade.
        </p>
      </div>
    </section>
    <section class="mb-5">
      <h1>Materiais de Apoio</h1>
      <div class="mb-3">
        <div class="card p-1 mb-3">
          <p class="text-justify">
            Atenção, estes materiais são referências para outros sites que não
            estão sob nosso controle.
          </p>
        </div>
        <a
          class="btn btn-primary mb-3"
          href="https://pt.wikipedia.org/wiki/Sono"
          role="button"
        >
          <h4>📚 Referências ↗</h4>
        </a>
        <a
          class="btn btn-primary mb-3"
          href="https://pt.wikipedia.org/wiki/Sono"
          role="button"
        >
          <h4>🎬 Vídeo ↗</h4>
        </a>
      </div>
    </section>
  </div>
</div>
