<div class="bg-white">
  <app-navbar></app-navbar>
  <div class="px-4">
    <section class="mb-5">
      <h1>Sono</h1>
      <div class="mb-3">
        <p>O sono é essencial para o bem-estar e a saúde.
          Durante o sono, ocorrem processos de regeneração celular e consolidação da memória.
          Uma boa noite de sono traz benefícios como melhoria do humor, concentração e energia.
          Descubra os segredos do sono para uma vida saudável e de qualidade.
        </p>
      </div>
    </section>
  </div>
</div>
